Repository IssouProjects/PLD-Agile: changes, and which Codecov flags are due for each by the changed paths.
All: controleur, modele

codecov.yml:

ignore:
  - "project/src/test"  
  - "project/src/main/java/org/apache/project/vue"

coverage:
  range: 30..75
  status:
      project: no
      patch: no
      controleur: no
      modele:
        flags: modele

flags:
  controleur:
    paths: 
      - "project/src/main/java/org/apache/project/controleur"

  modele:
    paths:
      - "project/src/main/java/org/apache/project/modele"

Pas de statut modèle
  codecov.yml
Due: none

gestion du highlight des troncons
  project/src/main/java/org/apache/project/controleur/Controleur.java
  project/src/main/java/org/apache/project/controleur/Etat.java
  project/src/main/java/org/apache/project/controleur/EtatAjoutLivraison1.java
  project/src/main/java/org/apache/project/controleur/EtatAjoutLivraison2.java
  project/src/main/java/org/apache/project/controleur/EtatAjoutLivraison3.java
  project/src/main/java/org/apache/project/controleur/EtatDefaut.java
  project/src/main/java/org/apache/project/controleur/EtatDemandeLivraisonCharge.java
  project/src/main/java/org/apache/project/controleur/EtatPlanCharge.java
  project/src/main/java/org/apache/project/controleur/EtatTourneeCalculee.java
  project/src/main/java/org/apache/project/vue/EcouteurDeMap.java
  project/src/main/java/org/apache/project/vue/FenetrePrincipale.java
  project/src/main/java/org/apache/project/vue/MapContainer.java
  project/src/main/java/org/apache/project/vue/MapDisplay.java
  project/src/main/java/org/apache/project/vue/MapGestures.java
Due: controleur

Test commande échange livraisons
  project/src/test/java/org/apache/controleur/TestCdeEchangerLivraison.java
Due: none

le recalcul de tournée est mtn gerer avec un bouton
  project/src/main/java/org/apache/project/controleur/Controleur.java
  project/src/main/java/org/apache/project/controleur/Etat.java
  project/src/main/java/org/apache/project/controleur/EtatDefaut.java
  project/src/main/java/org/apache/project/controleur/EtatDemandeLivraisonCharge.java
  project/src/main/java/org/apache/project/controleur/EtatTempsLimiteAtteint.java
  project/src/main/java/org/apache/project/controleur/EtatTourneeCalculee.java
  project/src/main/java/org/apache/project/vue/EcouteurDeBouton.java
  project/src/main/java/org/apache/project/vue/FenetrePrincipale.java
  project/src/main/java/org/apache/project/vue/TimeoutPopup.java
  project/src/test/java/org/apache/modele/TestAjoutLivraison.java
Due: controleur

pb solved
  project/src/main/java/org/apache/project/controleur/EtatDemandeLivraisonCharge.java
Due: controleur

il manquait des throws dans un test
  project/src/test/java/org/apache/modele/TestAjoutLivraison.java
Due: none

ajout d'un affichage du nom de rue
  project/src/main/java/org/apache/project/vue/FenetrePrincipale.java
  project/src/main/java/org/apache/project/vue/main.css
Due: none

Résolution problèmes compilation
  project/src/main/java/org/apache/project/modele/Tournee.java
  project/src/test/java/org/apache/controleur/TestCdeAjouterLivraison.java
  project/src/test/java/org/apache/controleur/TestCdeEchangerLivraison.java
  project/src/test/java/org/apache/controleur/TestCdeModifierLivraison.java
  project/src/test/java/org/apache/controleur/TestCdeSupprimerLivraison.java
  project/src/test/java/org/apache/modele/TestRetardTSP3.java
  project/src/test/java/org/apache/modele/TestTournee.java
Due: modele

Commit imparfait
  project/src/main/java/org/apache/project/controleur/CdeModifierLivraison.java
  project/src/main/java/org/apache/project/controleur/Controleur.java
  project/src/main/java/org/apache/project/controleur/Etat.java
  project/src/main/java/org/apache/project/controleur/EtatDefaut.java
  project/src/main/java/org/apache/project/controleur/EtatModifierLivraison1.java
  project/src/main/java/org/apache/project/modele/Livraison.java
  project/src/main/java/org/apache/project/modele/PlageHoraire.java
  project/src/main/java/org/apache/project/vue/EcouteurDeBouton.java
  project/src/main/java/org/apache/project/vue/ModificationPopup.java
Due: controleur, modele

fenetre centrée, meilleurs label et fond grisé
  project/src/main/java/org/apache/project/vue/FenetrePrincipale.java
  project/src/main/java/org/apache/project/vue/TimeoutPopup.java
Due: none

durée changeable
  project/src/main/java/org/apache/project/controleur/EtatModifierLivraison1.java
Due: controleur

Texte entier centré
  project/src/main/java/org/apache/project/vue/TimeoutPopup.java
Due: none

Suppression classe de test bizarre
  project/src/test/java/org/apache/modele/TestAjoutLivraison.java
Due: none

Faute d'orthographe
  project/src/main/java/org/apache/project/controleur/Etat.java
Due: controleur

Changement affichage
  project/src/main/java/org/apache/project/vue/LivraisonPopup.java
  project/src/main/java/org/apache/project/vue/ModificationPopup.java
Due: none

Mise en place du gradient de couleur
  project/src/main/java/org/apache/project/vue/MapDisplay.java
Due: none

Fonction clearCommandes
  project/src/main/java/org/apache/project/controleur/ListeDeCommandes.java
Due: controleur

Clear commandes pour chargement nouvelle demande de livraisons
  project/src/main/java/org/apache/project/controleur/Controleur.java
  project/src/main/java/org/apache/project/controleur/Etat.java
  project/src/main/java/org/apache/project/controleur/EtatDefaut.java
  project/src/main/java/org/apache/project/controleur/EtatDemandeLivraisonCharge.java
  project/src/main/java/org/apache/project/controleur/EtatPlanCharge.java
  project/src/main/java/org/apache/project/controleur/EtatTourneeCalculee.java
Due: controleur

Clear commandes pour chargement nouveau plan
  project/src/main/java/org/apache/project/controleur/Controleur.java
  project/src/main/java/org/apache/project/controleur/Etat.java
  project/src/main/java/org/apache/project/controleur/EtatDefaut.java
  project/src/main/java/org/apache/project/controleur/EtatDemandeLivraisonCharge.java
  project/src/main/java/org/apache/project/controleur/EtatInit.java
  project/src/main/java/org/apache/project/controleur/EtatPlanCharge.java
  project/src/main/java/org/apache/project/controleur/EtatTourneeCalculee.java
Due: controleur

Test ListeDeCommandes
  project/src/test/java/org/apache/controleur/TestListeDeCommandes.java
Due: none

on affiche un gif pendant le chargement
  project/src/main/java/org/apache/project/controleur/EtatDemandeLivraisonCharge.java
  project/src/main/java/org/apache/project/vue/FenetrePrincipale.java
Due: controleur

ajout d'un test
  project/src/main/java/org/apache/project/modele/Chemin.java
  project/src/test/java/org/apache/modele/TestTournee.java
Due: modele

final asked
  project/src/main/java/org/apache/project/controleur/EtatDemandeLivraisonCharge.java
Due: controleur

Supprimer méthode ajouterTroncon
  project/src/main/java/org/apache/project/modele/Chemin.java
Due: modele

ajout test
  project/src/test/java/org/apache/modele/TestTournee.java
Due: none

Correction fautes d'orthographe
  project/src/main/java/org/apache/project/modele/Tournee.java
Due: modele

avec le ficheir gif
  project/src/main/java/org/apache/project/vue/loading.gif
Due: none

import arraylist
  project/src/main/java/org/apache/project/modele/Chemin.java
Due: modele

modification de la visibilité des boutons
  project/src/main/java/org/apache/project/vue/FenetrePrincipale.java
Due: none

added comment
  project/src/main/java/org/apache/project/vue/MapDisplay.java
Due: none

Le bouton annuler s'affiche que au bon moment
  project/src/main/java/org/apache/project/controleur/EtatAjoutLivraison1.java
  project/src/main/java/org/apache/project/controleur/EtatAjoutLivraison2.java
  project/src/main/java/org/apache/project/controleur/EtatAjoutLivraison3.java
  project/src/main/java/org/apache/project/controleur/EtatTourneeCalculee.java
  project/src/main/java/org/apache/project/vue/FenetrePrincipale.java
Due: controleur

renommage du bouton en Annuler l'ajout
  project/src/main/java/org/apache/project/vue/FenetrePrincipale.java
Due: none

Jolie feuille de route qui peut encore être améliorée. Modifications des fichiers xml
  project/src/main/java/org/apache/project/controleur/EtatDemandeLivraisonCharge.java
  project/src/main/java/org/apache/project/modele/Chemin.java
  project/src/main/java/org/apache/project/modele/Livraison.java
  project/src/main/java/org/apache/project/modele/Tournee.java
  project/src/main/java/org/apache/project/vue/FenetrePrincipale.java
  project/src/test/java/org/apache/modele/fichiers/DLgrand10.xml
  project/src/test/java/org/apache/modele/fichiers/DLgrand10TW2.xml
  project/src/test/java/org/apache/modele/fichiers/DLgrand20TW.xml
  project/src/test/java/org/apache/modele/fichiers/DLmoyen10.xml
  project/src/test/java/org/apache/modele/fichiers/DLmoyen10TW3.xml
  project/src/test/java/org/apache/modele/fichiers/DLmoyen5.xml
  project/src/test/java/org/apache/modele/fichiers/DLmoyen5TW1.xml
  project/src/test/java/org/apache/modele/fichiers/DLmoyen5TW2.xml
  project/src/test/java/org/apache/modele/fichiers/DLmoyen5TW3.xml
  project/src/test/java/org/apache/modele/fichiers/DLpetit3.xml
Due: controleur, modele

maj des tests
  project/src/test/java/org/apache/modele/TestDeserialisateur.java
  project/src/test/java/org/apache/modele/TestTournee.java
Due: none

ajout de la partie controleur
  project/src/main/java/org/apache/project/controleur/Controleur.java
  project/src/main/java/org/apache/project/controleur/Etat.java
  project/src/main/java/org/apache/project/controleur/EtatDefaut.java
  project/src/main/java/org/apache/project/controleur/EtatDemandeLivraisonCharge.java
  project/src/main/java/org/apache/project/controleur/EtatTourneeCalculee.java
Due: controleur

le boolean tempsLimiteAtteint renvoyé par la tournée est maintenant utiliser par le controleur
  project/src/main/java/org/apache/project/controleur/EtatDemandeLivraisonCharge.java
Due: controleur

Update EtatDemandeLivraisonCharge.java
  project/src/main/java/org/apache/project/controleur/EtatDemandeLivraisonCharge.java
Due: controleur

Merci qui merci quentin ^^
  project/src/main/java/org/apache/project/controleur/EtatDemandeLivraisonCharge.java
  project/src/main/java/org/apache/project/controleur/EtatTourneeCalculee.java
  project/src/main/java/org/apache/project/vue/FenetrePrincipale.java
Due: controleur

nouveau message dans la popup
  project/src/main/java/org/apache/project/vue/FenetrePrincipale.java
Due: none

Message plus compréhensible pour un client
  project/src/main/java/org/apache/project/vue/TimeoutPopup.java
Due: none
