Repository IssouProjects/PLD-Agile: changes, and which Codecov flags are due for each by the changed paths.
All: controleur, modele

codecov.yml:

ignore:
  - "project/src/test"  
  - "project/src/main/java/org/apache/project/vue"

coverage:
  range: 30..75
  status:
      project: no
      patch: no
      controleur: no
      modele:
        flags: modele

flags:
  controleur:
    paths: 
      - "project/src/main/java/org/apache/project/controleur"

  modele:
    paths:
      - "project/src/main/java/org/apache/project/modele"

Message d'erreur amélioré
  project/src/main/java/org/apache/project/controleur/EtatAjoutLivraison3.java
Due: controleur

Résolution problème en cas d'erreur avec actions défaites
  project/src/main/java/org/apache/project/controleur/ListeDeCommandes.java
Due: controleur

Ignore old TSP for coverage stats
  codecov.yml
Due: none

boutons dans la liste non grisés + résolution d'un bug lors du chargement d'une nouvelle demande de livraison
  project/src/main/java/org/apache/project/controleur/EtatPlanCharge.java
  project/src/main/java/org/apache/project/vue/FenetrePrincipale.java
  project/src/main/java/org/apache/project/vue/ListDisplay.java
  project/src/main/java/org/apache/project/vue/LivraisonCell.java
Due: controleur

resolution bug de bouton dispo au mauvais moment très sale
  project/src/main/java/org/apache/project/controleur/EtatPlanCharge.java
  project/src/main/java/org/apache/project/vue/FenetrePrincipale.java
Due: controleur

Ctrl+Z et Ctrl+Y fonctionnent
  project/src/main/java/org/apache/project/vue/FenetrePrincipale.java
  project/src/main/java/org/apache/project/vue/UndoRedoWidget.java
Due: none

Refactoring branch and Bound
  project/src/main/java/org/apache/project/modele/tsp/TSP4.java
Due: modele

Modif Probleme coupage branche
  project/src/main/java/org/apache/project/modele/tsp/TSP4.java
Due: modele

Tentative de splittage de couleur pour double passage sur un troncon
  project/src/main/java/org/apache/project/vue/MapDisplay.java
Due: none

correction bug entrepot deplacable
  project/src/main/java/org/apache/project/controleur/EtatTourneeCalculee.java
  project/src/main/java/org/apache/project/vue/ListDisplay.java
  project/src/main/java/org/apache/project/vue/LivraisonCell.java
Due: controleur

retourne erreur si rien trouvé par tsp
  project/src/main/java/org/apache/project/modele/Tournee.java
Due: modele

correction for travis boi
  project/src/main/java/org/apache/project/vue/ListDisplay.java
Due: none

Nouveau message plus clair pour timeout calcul
  project/src/main/java/org/apache/project/controleur/EtatDemandeLivraisonCharge.java
Due: controleur

Remove Unused imports
  project/src/main/java/org/apache/project/vue/FeuilleDeRoutePopup.java
  project/src/main/java/org/apache/project/vue/MapDisplay.java
Due: none

comme le titre
  project/src/main/java/org/apache/project/controleur/EtatInit.java
  project/src/main/java/org/apache/project/controleur/EtatPlanCharge.java
  project/src/main/java/org/apache/project/vue/MapDisplay.java
Due: controleur

correction 0 minutes d'avance => <1 minute d'avance
  project/src/main/java/org/apache/project/modele/PlageHoraire.java
Due: modele

Améliorations des messages d'erreurs xml
  project/src/main/java/org/apache/project/controleur/EtatInit.java
  project/src/main/java/org/apache/project/controleur/EtatPlanCharge.java
  project/src/main/java/org/apache/project/xml/Deserialisateur.java
Due: controleur

Formattage Controleur et commandes
  project/src/main/java/org/apache/project/controleur/CdeAjouterLivraison.java
  project/src/main/java/org/apache/project/controleur/CdeEchangerLivraison.java
  project/src/main/java/org/apache/project/controleur/CdeModifierLivraison.java
  project/src/main/java/org/apache/project/controleur/CdeSupprimerLivraison.java
  project/src/main/java/org/apache/project/controleur/Commande.java
  project/src/main/java/org/apache/project/controleur/Controleur.java
Due: controleur

on recalculer bien la durée après un undo/redo
  project/src/main/java/org/apache/project/controleur/CdeModifierLivraison.java
  project/src/main/java/org/apache/project/controleur/EtatModifierLivraison1.java
  project/src/test/java/org/apache/controleur/TestCdeModifierLivraison.java
Due: controleur

update cells at every call of afficherTournee()
  project/src/main/java/org/apache/project/vue/ListDisplay.java
Due: none

Cas durée sur place plus petite que la plage horaire
  project/src/main/java/org/apache/project/xml/Deserialisateur.java
Due: none

Add a comment for optimization
  project/src/main/java/org/apache/project/controleur/EtatModifierLivraison1.java
Due: controleur

Formattage des Etat et ListeDeCommandes
  project/src/main/java/org/apache/project/controleur/Controleur.java
  project/src/main/java/org/apache/project/controleur/Etat.java
  project/src/main/java/org/apache/project/controleur/EtatAjoutLivraison1.java
  project/src/main/java/org/apache/project/controleur/EtatAjoutLivraison2.java
  project/src/main/java/org/apache/project/controleur/EtatAjoutLivraison3.java
  project/src/main/java/org/apache/project/controleur/EtatDefaut.java
  project/src/main/java/org/apache/project/controleur/EtatDemandeLivraisonCharge.java
  project/src/main/java/org/apache/project/controleur/EtatFeuilleDeRoute.java
  project/src/main/java/org/apache/project/controleur/EtatInit.java
  project/src/main/java/org/apache/project/controleur/EtatModifierLivraison1.java
  project/src/main/java/org/apache/project/controleur/EtatPlanCharge.java
  project/src/main/java/org/apache/project/controleur/EtatSupprLivraison1.java
  project/src/main/java/org/apache/project/controleur/EtatTourneeCalculee.java
  project/src/main/java/org/apache/project/controleur/ListeDeCommandes.java
Due: controleur

Formatage package Modele
  project/src/main/java/org/apache/project/modele/Chemin.java
  project/src/main/java/org/apache/project/modele/DemandeDeLivraison.java
  project/src/main/java/org/apache/project/modele/Dijkstra.java
  project/src/main/java/org/apache/project/modele/Entrepot.java
  project/src/main/java/org/apache/project/modele/Intersection.java
  project/src/main/java/org/apache/project/modele/Livraison.java
  project/src/main/java/org/apache/project/modele/PlageHoraire.java
  project/src/main/java/org/apache/project/modele/PlanDeVille.java
  project/src/main/java/org/apache/project/modele/Tournee.java
  project/src/main/java/org/apache/project/modele/Troncon.java
Due: modele

Formatage package TSP
  project/src/main/java/org/apache/project/modele/tsp/IteratorSeq.java
  project/src/main/java/org/apache/project/modele/tsp/TSP.java
  project/src/main/java/org/apache/project/modele/tsp/TSP1.java
  project/src/main/java/org/apache/project/modele/tsp/TSP2.java
  project/src/main/java/org/apache/project/modele/tsp/TSP3.java
  project/src/main/java/org/apache/project/modele/tsp/TSP4.java
  project/src/main/java/org/apache/project/modele/tsp/TemplateTSP.java
Due: modele

Formatage package xml
  project/src/main/java/org/apache/project/xml/Deserialisateur.java
  project/src/main/java/org/apache/project/xml/ExceptionXML.java
Due: none

Creation TSP5
  project/src/main/java/org/apache/project/modele/Tournee.java
  project/src/main/java/org/apache/project/modele/tsp/TSP5.java
Due: modele

Début de javadoc Vue
  project/src/main/java/org/apache/project/vue/MapContainer.java
  project/src/main/java/org/apache/project/vue/MapDisplay.java
  project/src/main/java/org/apache/project/vue/UndoRedoWidget.java
Due: none

Formatage vue partie 1
  project/src/main/java/org/apache/project/vue/EcouteurDeBouton.java
  project/src/main/java/org/apache/project/vue/EcouteurDeListe.java
  project/src/main/java/org/apache/project/vue/EcouteurDeMap.java
  project/src/main/java/org/apache/project/vue/FenetrePrincipale.java
  project/src/main/java/org/apache/project/vue/FeuilleDeRoutePopup.java
  project/src/main/java/org/apache/project/vue/FileOpener.java
Due: none

Formatage vue partie 2 et fin
  project/src/main/java/org/apache/project/vue/ListDisplay.java
  project/src/main/java/org/apache/project/vue/LivraisonCell.java
  project/src/main/java/org/apache/project/vue/LivraisonPopup.java
  project/src/main/java/org/apache/project/vue/MapContainer.java
  project/src/main/java/org/apache/project/vue/MapDisplay.java
  project/src/main/java/org/apache/project/vue/MapGestures.java
  project/src/main/java/org/apache/project/vue/ModificationPopup.java
  project/src/main/java/org/apache/project/vue/TimeSpinner.java
  project/src/main/java/org/apache/project/vue/TimeoutPopup.java
  project/src/main/java/org/apache/project/vue/UndoRedoWidget.java
Due: none

Bilder Ordner Vernanderung
  project/src/main/java/org/apache/project/vue/images/arrow.png
  project/src/main/java/org/apache/project/vue/images/bin.png
  project/src/main/java/org/apache/project/vue/images/clock.png
  project/src/main/java/org/apache/project/vue/images/edit.png
  project/src/main/java/org/apache/project/vue/images/home.png
  project/src/main/java/org/apache/project/vue/images/loading.gif
  project/src/main/java/org/apache/project/vue/images/ok.png
  project/src/main/java/org/apache/project/vue/images/plus.png
  project/src/main/java/org/apache/project/vue/images/redo.png
  project/src/main/java/org/apache/project/vue/images/undo.png
  project/src/main/java/org/apache/project/vue/images/warning.png
  project/src/main/java/org/apache/project/vue/images/winicon.png
Due: none

@SuppressWarnings
  project/src/main/java/org/apache/project/xml/Deserialisateur.java
Due: none

Test cas particulier TSP5
  project/src/test/java/org/apache/modele/TestTournee.java
  project/src/test/java/org/apache/modele/fichiers/DLmoyen5TW4Impossible.xml
Due: none

Formatage
  project/src/main/java/org/apache/project/controleur/Etat.java
  project/src/main/java/org/apache/project/modele/tsp/TSP5.java
Due: controleur, modele

Ignore TSP4 for coverage
  codecov.yml
Due: none

this time it's right
  project/src/main/java/org/apache/project/vue/FenetrePrincipale.java
  project/src/main/java/org/apache/project/vue/list.css
  project/src/main/java/org/apache/project/vue/main.css
Due: none

Unused code
  project/src/main/java/org/apache/project/controleur/EtatAjoutLivraison2.java
  project/src/main/java/org/apache/project/modele/tsp/IteratorSeq.java
  project/src/main/java/org/apache/project/modele/tsp/TSP1.java
  project/src/main/java/org/apache/project/modele/tsp/TSP2.java
  project/src/main/java/org/apache/project/modele/tsp/TSP3.java
  project/src/main/java/org/apache/project/modele/tsp/TSP4.java
  project/src/main/java/org/apache/project/modele/tsp/TemplateTSP.java
  project/src/main/java/org/apache/project/vue/FenetrePrincipale.java
  project/src/main/java/org/apache/project/vue/LivraisonPopup.java
  project/src/main/java/org/apache/project/vue/UndoRedoWidget.java
Due: controleur, modele

Remplace == par ".equals()
  project/src/main/java/org/apache/project/xml/Deserialisateur.java
Due: none

Empty if statements
  project/src/main/java/org/apache/project/controleur/EtatModifierLivraison1.java
Due: controleur

Code Style
  project/src/main/java/org/apache/project/controleur/Etat.java
  project/src/main/java/org/apache/project/modele/tsp/IteratorSeq.java
  project/src/main/java/org/apache/project/vue/LivraisonCell.java
  project/src/main/java/org/apache/project/vue/MapDisplay.java
  project/src/main/java/org/apache/project/vue/MapGestures.java
  project/src/main/java/org/apache/project/vue/UndoRedoWidget.java
  project/src/main/java/org/apache/project/xml/Deserialisateur.java
Due: controleur, modele
