Repository IssouProjects/PLD-Agile: changes, and which Codecov flags are due for each by the changed paths.
All: controleur, modele

ajout d'une popup pour la feuille de route
  project/src/main/java/org/apache/project/controleur/Controleur.java
  project/src/main/java/org/apache/project/controleur/Etat.java
  project/src/main/java/org/apache/project/controleur/EtatDefaut.java
  project/src/main/java/org/apache/project/controleur/EtatFeuilleDeRoute.java
  project/src/main/java/org/apache/project/controleur/EtatTourneeCalculee.java
  project/src/main/java/org/apache/project/modele/Chemin.java
  project/src/main/java/org/apache/project/modele/Tournee.java
  project/src/main/java/org/apache/project/vue/EcouteurDeBouton.java
  project/src/main/java/org/apache/project/vue/FenetrePrincipale.java
  project/src/main/java/org/apache/project/vue/FeuilleDeRoutePopup.java
Due: controleur, modele

conflits mal gerés
  project/src/main/java/org/apache/project/vue/FenetrePrincipale.java
Due: none

minor tweakings
  project/src/main/java/org/apache/project/vue/FenetrePrincipale.java
  project/src/main/java/org/apache/project/vue/FeuilleDeRoutePopup.java
Due: none

minor correction
  project/src/main/java/org/apache/project/vue/FenetrePrincipale.java
Due: none

amélioration affichage
  project/src/main/java/org/apache/project/modele/Tournee.java
  project/src/main/java/org/apache/project/vue/FenetrePrincipale.java
Due: modele

correction numéros de livraison
  project/src/main/java/org/apache/project/modele/Tournee.java
Due: modele

Update Tournee.java
  project/src/main/java/org/apache/project/modele/Tournee.java
Due: modele

Unused import
  project/src/main/java/org/apache/project/vue/FeuilleDeRoutePopup.java
Due: none

Nouvelles instructions utilisateur
  project/src/main/java/org/apache/project/controleur/EtatAjoutLivraison1.java
  project/src/main/java/org/apache/project/controleur/EtatAjoutLivraison2.java
  project/src/main/java/org/apache/project/controleur/EtatAjoutLivraison3.java
  project/src/main/java/org/apache/project/controleur/EtatDemandeLivraisonCharge.java
  project/src/main/java/org/apache/project/controleur/EtatModifierLivraison1.java
  project/src/main/java/org/apache/project/controleur/EtatTourneeCalculee.java
  project/src/main/java/org/apache/project/vue/FenetrePrincipale.java
Due: controleur

Affichage heure de fin dans interface
  project/src/main/java/org/apache/project/modele/Tournee.java
  project/src/main/java/org/apache/project/vue/FenetrePrincipale.java
Due: modele

Retour du testNomRue
  project/src/test/java/org/apache/modele/TestTournee.java
Due: none

Test Livraison.ExporterRoute
  project/src/test/java/org/apache/modele/TestTournee.java
Due: none

Test méthodes Troncon.getIntersection depart et arrivée
  project/src/test/java/org/apache/modele/TestDeserialisateur.java
Due: none

Déplacement tests ajout livraisons
  project/src/test/java/org/apache/modele/TestCUAjoutLivraison.java
  project/src/test/java/org/apache/modele/TestTournee.java
Due: none

Test PlageHoraire.TestSecondesEnLocalTime
  project/src/test/java/org/apache/modele/TestPlageHoraire.java
Due: none

Suppression fonction non utilisée
  project/src/main/java/org/apache/project/modele/Tournee.java
Due: modele

Test cas particuliers PlageHoraire
  project/src/test/java/org/apache/modele/TestPlageHoraire.java
Due: none

Suppression Tournee.respectPlageHoraire
  project/src/main/java/org/apache/project/modele/Tournee.java
Due: modele

Suppression Livraison.setLieuDeLivraison
  project/src/main/java/org/apache/project/modele/Livraison.java
Due: modele

Test Livraison.getPositionDansTournee
  project/src/test/java/org/apache/modele/TestLivraison.java
Due: none

TSP4
  project/src/main/java/org/apache/project/modele/Tournee.java
  project/src/main/java/org/apache/project/modele/tsp/IteratorSeq.java
  project/src/main/java/org/apache/project/modele/tsp/TSP4.java
Due: modele

Test cas particulier Intersection.TestGetTronconParDestination
  project/src/test/java/org/apache/modele/TestIntersection.java
Due: none

Optimisation et commentaires
  project/src/main/java/org/apache/project/controleur/Controleur.java
  project/src/main/java/org/apache/project/modele/Tournee.java
Due: controleur, modele

Changement à l'affichage et export
  project/src/main/java/org/apache/project/modele/Entrepot.java
  project/src/main/java/org/apache/project/modele/Livraison.java
  project/src/main/java/org/apache/project/modele/Tournee.java
  project/src/main/java/org/apache/project/vue/FenetrePrincipale.java
  project/src/main/java/org/apache/project/vue/LivraisonCell.java
  project/src/test/java/org/apache/modele/TestTournee.java
Due: modele

Suppression sous-titre inutile
  project/src/main/java/org/apache/project/vue/LivraisonCell.java
Due: none

dégradé de couleur presque ok
  project/src/main/java/org/apache/project/vue/MapDisplay.java
Due: none

Test foirant changé
  project/src/test/java/org/apache/modele/TestTournee.java
Due: none

oups
  project/src/main/java/org/apache/project/vue/MapDisplay.java
Due: none

Correction temps d exec de TSP4
  project/src/main/java/org/apache/project/modele/Tournee.java
Due: modele

correction petit problème
  project/src/main/java/org/apache/project/vue/MapDisplay.java
Due: none

Gestion erreur calculTournee
  project/src/main/java/org/apache/project/controleur/EtatDemandeLivraisonCharge.java
  project/src/main/java/org/apache/project/modele/Dijkstra.java
  project/src/main/java/org/apache/project/modele/Tournee.java
  project/src/main/java/org/apache/project/vue/FenetrePrincipale.java
Due: controleur, modele

Import inutile
  project/src/main/java/org/apache/project/modele/Tournee.java
Due: modele

tempsLimite plutot que 10000 en timeout
  project/src/main/java/org/apache/project/modele/Tournee.java
Due: modele

gestion code erreur avec ajout de livraison
  project/src/main/java/org/apache/project/controleur/CdeAjouterLivraison.java
  project/src/main/java/org/apache/project/controleur/CdeEchangerLivraison.java
  project/src/main/java/org/apache/project/controleur/CdeModifierLivraison.java
  project/src/main/java/org/apache/project/controleur/CdeSupprimerLivraison.java
  project/src/main/java/org/apache/project/controleur/Commande.java
  project/src/main/java/org/apache/project/controleur/EtatAjoutLivraison3.java
  project/src/main/java/org/apache/project/controleur/ListeDeCommandes.java
  project/src/main/java/org/apache/project/modele/Tournee.java
Due: controleur, modele

Add Codacy badge to readme
  README.md
Due: none

Intersection non presente dans tronçon
  project/src/main/java/org/apache/project/modele/PlanDeVille.java
  project/src/main/java/org/apache/project/xml/Deserialisateur.java
Due: modele

Test
  project/src/test/java/org/apache/modele/TestDeserialisateur.java
  project/src/test/java/org/apache/modele/fichiers/planLyonPetitErreurIntersectionManquante.xml
Due: none

remplacement par un h dans le spinner
  project/src/main/java/org/apache/project/vue/TimeSpinner.java
Due: none

Remove unused imports
  project/src/main/java/org/apache/project/vue/MapDisplay.java
  project/src/test/java/org/apache/modele/TestIntersection.java
Due: none

Prise en charge cas d'erreur par les commandes
  project/src/main/java/org/apache/project/controleur/ListeDeCommandes.java
Due: controleur

Path conditions:
  controleur: any of: project/src/main/java/org/apache/project/controleur, but not: project/src/test, project/src/main/java/org/apache/project/vue
  modele: any of: project/src/main/java/org/apache/project/modele, but not: project/src/test, project/src/main/java/org/apache/project/vue
